<ion-header-bar class="bar-positive">
    <h2 class="title">More Info</h2>
</ion-header-bar>
<ion-view>
    <ion-conent>
        <ion-list class="list-inset">
            <ion-item class="item-text-wrap" ng-repeat="item in artist | filter: {shortname: whichartist}">
                <img ng-src="img/{{item.shortname}}_tn.jpg" alt="{{ item.name }}Photo">
                        <h2>{{item.name}}</h2>
                        <h3>{{item.reknown}}</h3>
                        <p>{{item.bio | limitTo:100}}
                        {{item.bio.length > 150 ? '&hellip;' : ''}}</p>
            </ion-item>
        </ion-list>
    </ion-conent>
</ion-view>