/* Empty. Add your own CSS if you like */
body{
    cursor:url('http://ionicframework.com/img/finger.png')
}
.star>.item-content{
    background-color: #EEE8D6 !important;
}
.splash{
    background: url(../img/skyline.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-size: cover;
}
.branding{
    width:50%;
    max-width: 300px;
    margin:0 auto;
    margin-top: 20px;
    text-align: center;
}
.tagline{
    font-size: 1.4rem;
}
.branding p{
    margin-top:10px;
    font-size: 1rem;
}
.tem-divider{
    background-color: #EEE8D6;
}
.bar-positive,.tabs-positive>.tabs{
    background-color: #417D9A;
    border-color: #417D9A;
}
.tem-thumnail-left img{
    font-size: 1.2 rem;
    font-weight: bold;
    color:#417D9A;
}
.dayhightlight{
    background-color: #9EC6DE;
    border-top:20px solid #417D9A;
}
.dayhighlight h2{
    color:#417D9A;
    font-size: 2 rem;
    font-weight: bold;
}